#par1 {
    color: red;
    background-color: darkblue;
}
.par2{
    color: darkblue;
    background-color: red;
}
#heading1{
    color: red;
}
#heading2{
    color: blue;
}
#heading3{
    color: yellow;
}