#par {
    background-color: black;
    color: red;
    font-size: 20px;
}
.paragraps {
    color: green;
    font-size: 30px;
}
#par1 {
    background-color: black;
}
h2 {
    color: yellow;
}
.h22 {
    color: blue;
}
#h222 {
    color: chocolate;
}
#bear {
    border: 4px solid red;
    box-shadow: 2px 2px 2px black;
    width: 400px;
    border-radius: 20px;
    
}
#bear:hover{
    width: 200px;
    transition: 1s;
}
#bear:active{
    width: 300px;
}